.alertDanger{
  .alert-wrapper
  {
    border-radius: 50px 50px 50px 50px;
    background: red;
  }
  .alert-button-group
  { 
    margin-right: 100px;
    .button-inner
    {
      color: black;
      font-size: 2em;
    }
  }
  .alert-title
  {
  color: black;
  font-size: 2.3em;
  font-family: Georgia,Times,serif;
  }
  .alert-sub-title
  {
  color: black;
  font-size: 1em;
  font-family: Georgia,Times,serif;
  }
}
.alertRadio
{
  .alert-wrapper
  {
    border-radius: 15px 15px 15px 15px;
    background: purple;
  }
    .alert-title
    {
    color: white;
    font-size: 2.3em;
    font-family: Georgia,Times,serif;
    }
   .alert-button-group
  { 
    margin-right: 35px;
    .button-inner
    {
      color: white;
      font-size: 1.5em;
    }
  }
  .alert-radio-group
  {
    .button-inner
    {
      .alert-radio-label
      {
        color:white;
      }
      .alert-radio-icon
      {
        color: white;
      }
    }
  }
}



page-login {
 
  .login-content {
    background: purple;
 
    .logo-row {
      padding-top: 50px;
      padding-bottom: 50px;
    }
 
    .login-box {
      background: black;
      padding: 20px 20px 0px 20px;
      margin-top: 25px;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
    ion-label{
        text-align: center;
        color: black;
        font-size: 1.2em;
     }

     ion-item {
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }
 
     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }
 
     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }
 
     .submit-btn {
       background: #51CFB1;
       border-radius: 30px !important;
       border: 1px solid #ffffff;
     }
 
     .register-btn {
       color: #ffffff;
       font-size: 0.8em;
     }
  }
}

